<a href="https://colab.research.google.com/github/ZotovNV/Resume_for_chek/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D1%8F_%D0%BF%D0%BE_%D0%B1%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA%D0%B0%D0%BC_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

«Библиотека pandas»

Задание 1:
>Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [ ]:
import pandas as pd
from zipfile import ZipFile

url = 'путь к zip файлу на компьютере /ml-25m.zip'
zf = ZipFile(url)
data = pd.read_csv(zf.open('ml-25m/ratings.csv', mode = 'r')) # фрейм с  id  и рейтингом
data_film = pd.read_csv(zf.open('ml-25m/movies.csv', mode = 'r')) # фрейм с id и названиями фильмов

only_5 = data[data['rating'] == 5] # фрейм с рейтингом где только 5*
only_5.info()

# value_counts: only_5.movieId.value_counts()
# за место цепочки .groupby('movieId').size().reset_index(name = 'count')

grouped = only_5.groupby('movieId').size().reset_index(name = 'count') # группировка, подсчет кол-ва оценок и обновление значение индекса
grouped.head()

sorted_grouped = grouped.sort_values(by='count', ascending=False) # сортировка по убыванию
sorted_grouped.head()

top_movie = data_film[data_film['movieId'] == sorted_grouped.iloc[0]['movieId']]['title'].iloc[0] # результат во второй части найдет значение 318, по этому значению будет искать во фрейме с фильмами название фильма колонку.
print(top_movie)

# результат Shawshank Redemption, The (1994)

Задание 2:
>По данным файла power.csv (находится в архиве в разделе Материалы к лекции «Библиотека Pandas» - файл “Дополнительные файлы для домашнего задания”) посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [ ]:
import pandas as pd
from zipfile import ZipFile

url = 'путь/10._Основы_pandas.zip'
zf = ZipFile(url)
data_power = pd.read_csv(zf.open('power.csv', mode = 'r'))

In [ ]:
# Фильтр через или | 2 мя способами написания
filtr_1 = data_power[((data_power['country'] == 'Latvia')|(data_power.country == 'Lithuania' )|(data_power.country == 'Estonia'))&(data_power['category'].isin([4, 12, 21]))]
filtr_1.info()

In [ ]:
# фильтр через перечисление
filtr_2 = data_power[(data_power['country'].isin(['Latvia', 'Lithuania', 'Estonia']))&(data_power['category'].isin([4, 12, 21]))]
filtr_2.info()

In [ ]:
# значение filtr_3 = filtr_2 = filtr_1 ожно подставить любое эффект одинаковый.

baltic_countries = ['Latvia', 'Lithuania', 'Estonia']
categories = [4, 12, 21]
filtr_3 = data_power[(data_power['country'].isin(baltic_countries)) & (data_power['category'].isin(categories))]
#filtr_3.info()

filtr_year = filtr_3[(filtr_3['year'] >= 2005) & (filtr_3['year'] <= 2010)]
#filtr_year.info()

filtr_pozitive = filtr_year[filtr_year['quantity'] > 0]
#filtr_pozitive.info()

total_consumption = filtr_pozitive['quantity'].sum()

print(total_consumption)

# результат 240580.0

Задание 3:
>Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. Вы можете взять любые страницы.
Примеры страниц:

https://fortrader.org/quotes \
https://pythonworld.ru...strok.html

In [ ]:
import pandas as pd

url = 'https://fortrader.org/quotes'
tables = pd.read_html(url)

data = tables[3]

print(data)

«Функции и работа с данными»

Задание 1:
>Напишите функцию, которая классифицирует фильмы из материалов занятия по правилам:

* оценка 2 и ниже — низкий рейтинг; \
* оценка 4 и ниже — средний рейтинг; \
* оценка 4.5 и 5 — высокий рейтинг. \
Результат классификации запишите в столбец class. \

In [ ]:
import pandas as pd
from zipfile import ZipFile


url = 'путь/ml-latest-small.zip'
zf = ZipFile(url)
ratings = pd.read_csv(zf.open('ml-latest-small/ratings.csv', mode = 'r'))

In [ ]:
# простейшая Python функция:

def classificator(n):
    if n <= 2:
        return 'низкий рейтинг'
    elif (n > 2) and (n <= 4):
        return 'средний рейтинг'
    elif (n >= 4.5) and (n <= 5):
        return 'высокий рейтинг'

In [ ]:
# ну и само обращение к функции, подставляя значения из столбца rating фрейма ratings , создавая новый стобец class и возвращаем туда результаты вычислений функции.
ratings['class'] = ratings['rating'].apply(classificator)
ratings.head()

Второй вариант: \
>Ради интереса глянул что мне напишет GPT и результат его записей немного изменив применил на задании. \
Как понял он вытаскивает значение рейтинга, смотрит по интервалу bins где проходит значение, а дальше по индексу вставляет значение из labels в class_2

In [ ]:
# т.е. тут даже и функция то не понадобилась, единственное в задании есть нюанс с промежутком между 4 - 4.5 проставил пусто.
ratings['class_2'] = pd.cut(ratings['rating'], bins=[0,2,4,4.5,5], labels=['низкий рейтинг', 'средний рейтинг', '', 'высокий рейтинг' ])
ratings.head()

In [ ]:
# А вот вариант с помещением ф-ции непосредственно в запрос, с разбегу так и не сообразил.
ratings['class_3'] = ratings['rating'].apply(lambda n: ... )
ratings.head()

Задание 2: \
>Используйте файл keywords.csv.\
Нужно написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определённому региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.\
Правила распределения по регионам Центр, Северо-Запад и Дальний Восток: \
geo_data \
Результат классификации запишите в отдельный столбец region.

In [ ]:
import pandas as pd
from zipfile import ZipFile
# вытащили файлик
url = 'путь/ml-latest-small.zip'
zf = ZipFile(url)
keywords = pd.read_csv(zf.open('ml-latest-small/keywords.csv', mode = 'r'))
# копи паст словаря
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

# функция, попадая в функцию текст запроса разбивается по разделителям и принимает нижний регистр.
# далее проходим по словарю вытаскивая ключи и значения. После проходим по списку вытаскивая слова.
# после чего ищем соответствие слова из списка  со списком городов, если такой находим, то возвращаем регион.
def sorting(keyword):
    keyword_list = keyword.lower().split()
    for region, city_list in geo_data.items():
        for word in keyword_list:
            if word in city_list:
                return region
    return 'undefined'

keywords['location'] = keywords['keyword'].apply(sorting)
keywords[keywords['location'] !='undefined'].head()
keywords[keywords['location'] =='undefined'].head()

«Продвинутый pandas»

Задание 1:
>Для датафрейма log из материалов занятия создайте столбец source_type по правилам: \

* если источник traffic_source равен Yandex или Google, то в source_type ставится organic; \
* для источников paid и email из России ставим ad; \
* для источников paid и email не из России ставим other; \
* все остальные варианты берём из traffic_source без изменений. \

In [ ]:
import pandas as pd
from zipfile import ZipFile

url = 'C:/Users/User/Desktop/Никита обучение/доп_материалы_к_пандас_1_и_2.zip'
zf = ZipFile(url)
visit_log = pd.read_csv(zf.open('visit_log.csv', mode = 'r'), sep = ';')
# visit_log.loc[visit_log.traffic_source.isin(['yandex', 'google']), 'traffic_type'] = 'organic'

def source_type(row):
    if row['traffic_source'] == 'yandex' or row['traffic_source'] == 'google':
        return 'organic'
    elif (row['traffic_source'] == 'paid' or row['traffic_source'] == 'email') and row['region'] == 'Russia':
        return 'ad'
    elif (row['traffic_source'] == 'paid' or row['traffic_source'] == 'email') and row['region'] != 'Russia':
        return 'other'
    else:
        return row['traffic_source']

visit_log['source_type'] = visit_log.apply(source_type, axis=1)
visit_log.head()

Задание 2:
>В файле URLs.txt содержатся URL страниц новостного сайта. Вам нужно отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри URL конструкцию: /, затем 8 цифр, затем дефис.

Выполните действия:
* Прочитайте содержимое файла с датафрейм. \
* Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствие с заданным шаблоном.

In [ ]:
import pandas as pd
from zipfile import ZipFile

url = 'C:/Users/User/Desktop/Никита обучение/доп_материалы_к_пандас_1_и_2.zip'
zf = ZipFile(url)
urls = pd.read_csv(zf.open('URLs.txt', mode = 'r'))


news_urls = urls[urls['url'].str.contains('/\d{8}-')]
news_urls.info()

Задание 3:
>Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значениями столбца timestamp для данного значения userId.

In [ ]:
import pandas as pd
from zipfile import ZipFile

url = 'C:/Users/User/Desktop/Никита обучение/ml-25m.zip'
zf = ZipFile(url)
ratings = pd.read_csv(zf.open('ml-25m/ratings.csv', mode = 'r'))
# ratings.groupby('userId').agg({'timestamp': ['min', 'max', 'count']})

# Сгруппировали по id пользователя и посчитали кол-во оценок.
user_ratings_count = ratings.groupby('userId').count()['rating']
# user_ratings_count.head()
# Сформировали список с id пользователей где кол-во выставленных оценок больше 100.
active_users = user_ratings_count[user_ratings_count > 100].index.tolist()
# print(active_users)
# Отсортировали фрейм по списку пользователей выставивших больше 100 оценок
active_ratings = ratings[ratings['userId'].isin(active_users)]
# active_ratings.head()
# Сгруппировали по id пользователя, нашли самое большое и самое маленькое значение timestamp.
user_lifetime = active_ratings.groupby('userId').agg({'timestamp': ['max', 'min']})
# Посчитали среднее время жизни пользователей.
# user_lifetime.head()
mean_lifetime = (user_lifetime['timestamp']['max'] - user_lifetime['timestamp']['min']).mean()
print(mean_lifetime)

# результат 42697549.00773351

Задание 4:
>Дана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе «Материалы для лекции “Продвинутый pandas”» ---- Ноутбуки к лекции «Продвинутый pandas»). Нужно сформировать две таблицы:

* таблицу с тремя типами выручки для каждого client_id без указания адреса клиента;
* аналогичную таблицу по типам выручки с указанием адреса клиента.
Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

In [ ]:
import pandas as pd

rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1',
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [ ]:
revenue = rzd.merge(auto, on='client_id', how='outer').merge(air, on='client_id', how='outer')
revenue.head(10)

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0       57483.0          NaN
3        114       5774.0          83.0          NaN
4        115        981.0         912.0         81.0
5        116          NaN        4834.0          4.0
6        117          NaN          98.0         13.0
7        118          NaN           NaN        173.0

In [ ]:
revenue_with_address = revenue.merge(client_base, on='client_id', how='left')
revenue_with_address.head(10)

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           NaN          NaN  Комсомольская 4
1        112       2810.0           NaN          NaN   Энтузиастов 8а
2        113      10283.0       57483.0          NaN  Левобережная 1а
3        114       5774.0          83.0          NaN          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          NaN        4834.0          4.0    Строителей 18
6        117          NaN          98.0         13.0  Панфиловская 33
7        118          NaN           NaN        173.0     Мастеркова 4